doctype html
html(lang="ru")
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
  body.body
    header.header 
      nav.menu
        ul.menu-list
          li.menu-item
            a(href=routes.homePath()) Главная
          li.menu-item
            a(href=routes.usersPath()) Пользователи
          li.menu-item
            a(href=routes.coursesPath()) Курсы
          li.menu-item
            a(href=routes.addUserPath()) Добавить пользователя
          li.menu-item
            a(href=routes.addCoursePath()) Добавить курс
    main.main
      block content
    footer.footer 
      div
        a(href="https://github.com/AlexanderNP") GitHub Profile